@import url(./_global.scss);
@import url(../components/about/_about.scss);
@import url(../components/contact/_contact.scss);
@import url(../components/experience/_experience.scss);
@import url(../components/footer/_footer.scss);
@import url(../components/nav/_nav.scss);
@import url(../components/header/_header.scss);
@import url(../components/portfolio/_portfolio.scss);
@import url(../components/services/_services.scss);
@import url(../components/testimonials/_testimonials.scss);

/*переменные*/
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}
