.portfolio {
  .container__portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  &__item {
    background-color: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    &:hover {
      background-color: transparent;
      border-color: var(--color-primary-variant);
    }

    &-image {
      border-radius: 1.5rem;
      overflow: hidden;
    }

    h3 {
      color: var(--color-primary);
      margin: 1.2rem 0 2rem;
    }
    &-cta {
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* Media Quieres */
@media screen and (max-width: 1200px) {
    .portfolio {
        .container__portfolio {
          grid-template-columns: repeat(2, 1fr);
          gap: 1.2rem;
        }
      }
}

@media screen and (max-width: 600px) {
  .portfolio {
    .container__portfolio {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.2rem;
    }
  }
}
